*.pyc
*.pyo
*.mo
*.db
*.css.map
*.egg-info
*.sql.gz
.cache
.project
.idea
.pydevproject
.idea/workspace.xml
.DS_Store
.git/
.sass-cache
.vagrant/
**/.pyc
**/.__pycache__/
dist
docs
env
logs
src/{{ project_name }}/settings/local.py
src/node_modules
web/media
web/static/CACHE
stats
Dockerfile
venv/
geo_place.xml
geo_place.db
db.txt
geo.csv
*.log
*.xml
*.json
*.txt
!requirements.txt
MigrationLog/
jwp.csv
*.sh
migration.log.*
migration-prune.*
node_modules/
largeFiles/





