/* COLOR CONSTANTS - DO NOT HARD CODE COLORS ANYWHERE BUT HERE FOR THE SCSS FILE */


$LSTV_YELLOW: #fff072;
$TEXT_AND_SVG_BLACK: #0C090A;
$PRIMARY_COLOR: #6A25FF;
$PRIMARY_HIGHLIGHT: #9980FD;
$SECONDARY_COLOR: #793DFA;

$MID_GRAY_COLOR: #ececec;
$DARK_GRAY_COLOR: #C9C4C4;
$LIGHT_GRAY_COLOR: #C9C4C4;

