
input {
    tcp {
        port => 12345
        codec => json
    }
}
filter {
    mutate{
        add_field => ["[geo][ip]","%{[lstv][ip]}"]
        add_field => ["[geo][location][lat]", "%{[lstv][geo_lat]}"]
        add_field => ["[geo][location][lon]", "%{[lstv][geo_long]}"]
    }
    mutate {
        convert => {
            "[geo][location]" => "float"
            "[geo][latitude]" => "float"
            "[geo][longitude]" => "float"
        }
    }
}
output {
    elasticsearch {
        hosts => ["127.0.0.1:9200"]
        index => "logstash-lstv-user-activity-log"
    }
    stdout { codec => rubydebug }
}
